extends ../layouts/common.pug
            
block content
    h1.ml-5 Create

    if errors
        each error in errors
            .alert.alert-danger= error

  
    form.ml-5.mr-5(action="/users/create" method="POST" enctype="multipart/form-data")
        .form-group
            label.mb-0(for="name") Name
            input#name.form-control(name="name", type="text", value=values ? values.name : "" style="width: 500px")
            label.mt-3.mb-0(for="email") Email
            input#email.form-control(name="email", type="email", value=values ? values.number : "" style="width: 500px")
            label.mt-3.mb-0(for="password") Password
            input#password.form-control(name="password", type="password", value=values ?values.number : "" style="width: 500px")
            label.mt-3.mb-0(for="phone") Phone
            input#phone.form-control(name="number", type="text", value=values ? values.number : "" style="width: 500px")
        .form-group
            label(for="avatar") Avatar
            input#avatar.form-control-file(name="avatar", type="file")
        button.btn.btn-primary Create